@model GasStation_Tran.Models.Feedback

<div class="container">
    <div class="row justify-content-center">
        <label>
            <b>
                投稿の閲覧
            </b>
        </label>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="fname">ガソリンスタンド名</label>
        </div>
        <div class="col-75">
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="lname">種類</label>
        </div>
        <div class="col-75">

        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="fname">住所</label>
        </div>
        <div class="col-75">
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="fname">開館時間</label>
        </div>
        <div class="col-75">
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="fname">評価</label>
        </div>
        <div class="col-75">
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
    </div>

    <div class="row">
        <div class="col-25">

        </div>
        <div class="col-75">
            <input type="submit" value="登録">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <input type="submit" value="戻る">
        </div>
        <div class="col-75">

        </div>
    </div>
</div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>


